/**
 * mw_wp_form_
 *
 * / Library CSS: MW WP Form.
 *
 * @package WordPress
 */


.mw_wp_form {
	.horizontal-item {
		display: inline-block;
		margin: 0 !important;
	}

	.error {
		margin-top: 8px !important;
	}
}
