/**
 * Header
 */


.Header {
	width: 100%;
	height: $site_header_height;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: lighten($color_main_1, 40%);
	display: flex;
	align-items: center;
	justify-content: center;

	@include mq(MaxL) {
		height: $site_header_height_sp;
	}

	body.logged-in & {
		top: $wp_loginbar_height;

		@media ( max-width: 782px ) {
			top: $wp_loginbar_height_sp;
		}
	}
}

.Header__Body {
	width: 100%;
}

.Header__group_1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Header__SrcLogo {
	width: 120px;

	@include mq(MaxL) {
		width: 80px;
	}
}
