/**
 * nn_form_parts_text
 */


.nn_form_parts_text_2 {
	width: 100%;
	height: 48px;
	background-color: #efefef;
	// border: 2px solid $color_main_1;
	border-right: 0;
	padding-left: 16px;
	padding-right: 16px;
}


.nn_form_parts_text_1 {
	height: 3em;
}
