/**
 * sns_link
 */


.nn_sns_link_1__List {
	@include reset_list(l1, pl1, mt, mb);

	display: flex;
	justify-content: center;
	margin: -16px;
}

.nn_sns_link_1__Item {
	margin: 16px;

	> .__Inner {
		display: block;
		width: 25px;
		height: 25px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;

		&.-facebook {
			background-image: svg(_sns_facebook, '#1877f2');
		}

		&.-instagram {
			background-image: svg(_sns_instagram_, '');
		}

		&.-twitter {
			background-image: svg(_sns_twitter, '#1da1f2');
		}
	}
}
