/**
 * nn_form_searchBox
 */


.nn_form_searchBox_1 {
	display: flex;
	line-height: 0;

	&.-size_1 {
		max-width: 400px;
	}
}

.nn_form_searchBox_1__Input {
	width: 100%;
	background-color: #fefefe;
}

.nn_form_searchBox_1__Submit {
	flex-shrink: 0;
}
