/**
 * nn_article_navigation
 */


.nn_article_navigation_1__List {
	@include reset_list(l1, pl1, mt1, mb1);

	display: flex;
	justify-content: space-between;
}

.nn_article_navigation_1__Item {
	text-align: center;

	&.-back {
		flex-shrink: 0;
		color: $color_main_1;
		text-align: center;
		width: 136px;

		@include mq {
			width: 100px;
		}
	}

	> .__Inner {
		display: block;
		padding: 16px 24px;

		@include mq {
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	&.-back {
		> .__Inner {
			text-decoration: underline;
		}
	}

	&:not(.-back) {
		width: 224px;

		> .__Inner {
			position: relative;
			background-color: rgba($color_main_1, 0.2);

			@include before(a1, '') {
				width: 16px;
				height: 16px;
				top: 0;
				bottom: 0;
				background-image: svg(_arw_left, $color_main_1);
				background-repeat: no-repeat;
				background-position: center;
				background-size: auto 8px;
				margin: auto;
			}
		}
	}

	&.-prev {
		> .__Inner::before {
			left: 8px;

			@include mq {
				left: 0;
			}
		}
	}

	&.-next {
		> .__Inner::before {
			right: 8px;
			transform: rotate(180deg);

			@include mq {
				right: 0;
			}
		}
	}
}

.nn_article_navigation_1__Text {
	@include line_clamp(14px, 1.4, 1);

	@include mq {
		font-size: 13px;
	}
}
