/**
 * banner
 */


.nn_banner_1__List {
	@include reset_list(l1, pl1, mt0, mb0);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -8px -16px;
}

.nn_banner_1__Item {
	margin: 8px 16px;

	@include mq(MaxL) {
		width: 135px;
	}
}
