/**
 * term
 */


.term_2__List {
	@include reset_list(l1, pl1, mt0, mb0);

	display: flex;
	flex-wrap: wrap;
	margin: -8px;
}

.term_2__Item {
	margin: 8px;

	> .__Inner {
		text-decoration: underline;
	}

	&::before {
		content: "#";
	}
}


.term_1__List {
	@include reset_list(l1, pl1, mt0, mb0);

	display: flex;
	flex-wrap: wrap;
	margin: -8px;
}

.term_1__Item {
	color: #fefefe;
	background-color: $color_main_1;
	margin: 8px;

	> .__Inner {
		display: block;
		padding: 4px 8px;
	}
}