/**
 * hasSideContainer
 */

.hasSideContainer {
	display: flex;
	justify-content: space-between;

	@include mq(maxL) {
		display: block;
	}
}

.hasSideContainer__main {
	flex-shrink: 0;
	width: 704px;

	@include mq(maxL) {
		width: 100%;
	}
}

.hasSideContainer__side {
	width: 100%;
	margin-left: 48px;

	@include mq(maxL) {
		margin-top: 64px;
		margin-left: 0;
		overflow: hidden;
	}
}
