/**
 * sidebar
 */


.sidebar_1 {
	$top: $site_header_height + 16px;

	max-height: calc( 100vh - #{$top} );
	position: sticky;
	top: $top;
	padding-right: 15px;
	margin-right: -15px;
	overflow-y: scroll;

	@include mq(maxL) {
		display: flex;
		flex-wrap: wrap;
		position: static;
		padding-right: 0;
		margin: -24px;
		overflow: visible;
	}

	@include mq {
		display: block;
		margin: 0;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($color_main_1, .5);
		border-radius: 8px;
	}

	body.logged-in & {
		max-height: calc( 100vh - #{$top} - #{$wp_loginbar_height} );
		top: $top + $wp_loginbar_height;
	}
}

.sidebar_1__item {
	@include mq(maxL) {
		width: calc( 50% - 48px );
	}

	@include mq {
		width: 100%;
	}

	&:not(:first-child) {
		margin-top: 40px;
	}

	&:last-child {
		margin-bottom: 40px;
	}

	&:nth-child(1n) {
		@include mq(maxL) {
			margin: 24px;
		}

		@include mq {
			margin: 0;
		}
	}

	&:not(:first-child) {
		@include mq {
			margin-top: 40px;
		}
	}
}

.sidebar_1__term {
	font-size: 14px;
}
