/**
 * site_footer
 */


.site_footer {
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: 2px solid map-get($color, 'gray_1');
}

.site_footer__ladder {

	> * {

		&:not(:first-child) {
			margin-top: 40px;
		}
	}
}

.site_footer__group_1 {
	display: flex;
	justify-content: space-between;
}

.site_footer__item {
	margin: 30px;
}

.site_footer__logo {

	> .__src {
		width: 120px;
	}
}

.site_footer__copyright {
	display: block;
}
