/**
 * nn_form_table
 */


.nn_form_table_1 {

	> .__inner {
		margin: -1em;

		@include mq(maxL) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.nn_form_table_1__row {
	display: flex;
	align-items: baseline;

	@include mq(maxM) {
		display: block;
	}

	&:not(:first-child) {
		@include mq(maxM) {
			margin-top: 2.3em;
		}

		.mw_wp_form_confirm & {
			@include mq(maxM) {
				margin-top: 1.3em;
			}
		}
	}

	&.-alignTop {
		align-items: flex-start;
	}

	&.-submitItems {
		display: block;
		margin-top: 1em;
	}
}

.nn_form_table_1__submitItems {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: -1%;

	> * {
		margin: 1%;
	}
}

.nn_form_table_1__head,
.nn_form_table_1__data
{
	line-height: 1.4;
	padding: 1em;

	@include mq(maxL) {
		padding-left: 0;
		padding-right: 0;
	}

	@include mq(maxM) {
		padding: 0;
	}
}

.nn_form_table_1__head {
	flex-shrink: 0;
	width: 200px;

	&.-required {
		&::after {
			content: "*";
			color: map-get($color_template, 'red_1');

			body[class*='confirm'] & {
				display: none;
			}
		}
	}

	body:not([class*='confirm']) .nn_form_table_1__row.-alignTop & {
		padding-top: 2em;
	}
}

.nn_form_table_1__data {
	width: 100%;

	@include mq(maxM) {
		margin-top: .7em;
	}

	> * {
		&:not(:first-child) {
			margin-top: .5em;
		}
	}
}

.nn_form_table_1__title {
	font-weight: 700;
}

.nn_form_table_1__grid {
	display: flex;
	flex-wrap: wrap;
}

.nn_form_table_1__group {
	display: flex;

	&.-size_full {
		width: 100%;
	}

	&:not(:first-child) {
		margin-top: .5em;
	}

	&:not(:last-child) {
		margin-right: 2em;

		@include mq {
			margin-right: 1em;
		}

		.mw_wp_form_confirm & {
			margin-right: .4em;
		}
	}

	> * {

		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}

.nn_form_table_1__tiny {
	padding-top: 1em;

	.mw_wp_form_confirm & {
		padding-top: 0;
	}
}

.nn_form_table_1__item {

	&.-size_1 {
		width: 160px;
	}
}

.nn_form_table_1__toggle {

	&.-hiddenError {

		body.form_error & {
			display: none;
		}
	}

	&.-hiddenConfirm {

		body[class*='confirm'] & {
			display: none;
		}
	}
}
