/**
 * sns_link
 */


.nn_sns_link_1__list {
	@include reset_list(l1, pl1, mt, mb);

	display: flex;
	justify-content: center;
	margin: -16px;
}

.nn_sns_link_1__item {
	margin: 16px;

	> .__inner {
		display: block;
		width: 25px;
		height: 25px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;

		&.-facebook {
			background-image: svg-load('../svg/_sns_facebook.svg');
		}

		&.-instagram {
			background-image: svg-load('../svg/_sns_instagram.svg');
		}

		&.-twitter {
			background-image: svg-load('../svg/_sns_twitter.svg');
		}
	}
}
