////
/// 文字列の置換
////
/// @param {String} $string - 置換対象
/// @param {String} $search - 検索する文字
/// @param {String} $replace - 置き換える文字
@function str_replace( $string, $search, $replace: '' ) {
	$index: str_index( $string, $search );

	@if $index {
		@return str_slice( $string, 1, $index - 1 )+$replace+str_replace( str_slice( $string, $index+str-length( $search ) ), $search, $replace );
	}

	@return $string;
}

////
/// SVGをdata_uri形式に変換
////
/// @param {String} $svg
@function svg_to_data_uri( $svg ) {
	$svg: str_replace( $svg, "<", "%3C");
	$svg: str_replace( $svg, ">", "%3E");
	$svg: str_replace( $svg, "\", ");
	$svg: str_replace( $svg, "#", "%23");
	$svg: str_replace( $svg, "&", "%26");
	$svg: str_replace( $svg, '"', "'");

	@return url("data:image/svg+xml;charset=utf8,#{$svg}");
}
