/**
 * hover
 */


.button_pageTop {
	@include hover() {
		@extend %opacity_08;
	}
}


.wp_theContent a {
	transition: opacity 200ms;

	@include hover() {
		@extend %text_decoration_none;
		@extend %opacity_08;
	}
}


a.page-numbers {
	@include hover() {
		transition: opacity 200ms,
		            background-color 200ms;

		&:hover,
		&:focus
		{
			@extend %opacity_08;

			&.prev,
			&.next
			{
				background-color: lighten($color_main_2, 40%);
			}
		}
	}
}


/*
Form parts
*/


.form {}


/*
Zoom image
*/


.zoom
{
	// img {
	// 	transition: opacity 300ms ease-in-out,
	// 	            transform 250ms ease-in-out;
	// }

	// @include hover() {
	// 	img {
	// 		@extend %zoom_image;
	// 	}
	// }
}


/*
Change Color
*/


.color
{
	// transition: color 200ms;

	// @include hover() {
	// 	color: $color_main_1;
	// }
}


/*
Disable underline
*/


.term_2__item > a.__inner,
a.breadcrumb__link
{
	@include hover() {
		@extend %text_decoration_none;
		@extend %opacity_08;
	}
}


/*
Enable underline
*/


.tdn
{
	// @include hover() {
	// 	@extend %text_decoration_underline;
	// 	@extend %opacity_08;
	// }
}


/*
opacity.8
*/


.term_1__item > a.__inner,
a.post-page-numbers,
.site_header__logo > a.__inner
{
	transition: opacity 200ms;

	@include hover() {
		@extend %opacity_08;
	}
}


/*
opacity.6
*/


.op6
{
	// transition: opacity 200ms;

	// @include hover() {
	// 	@extend %opacity_06;
	// }
}


@import 'hover_nn';


%zoom_image {
	opacity: .8;
	transform: scale(1.05);
}

%text_decoration_underline {
	text-decoration: underline;
}

%text_decoration_none {
	text-decoration: none;
}

%opacity_08 {
	opacity: .8;
}

%opacity_06 {
	opacity: .6;
}
