// Color
$color: (
	'base'   : #333,
	'blue_1' : #4083cd,
	'blue_2' : #5c9dbc,
	'gray_1' : #fafafa,
);
$color_template: (
	'orange_1' : #f06262,
	'red_1'    : #f2506e,
	'green_1'  : #009a9a,
);
$color_base   : map-get($color, 'base');
$color_main_1 : map-get($color, 'blue_1');
$color_main_2 : map-get($color, 'blue_2');

// Font
$font_web_1      : 'Noto Serif JP';
$font_base_sans  : 'Arial',
                    YuGothic, 'Yu Gothic',
                   'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
                   'メイリオ', Meiryo,
                   'ＭＳ ゴシック';
$font_ie_sans    : 'Arial',
                   'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
                   'メイリオ', Meiryo,
                   'ＭＳ ゴシック';
$font_base       : $font_base_sans;
$font_base_serif : $font_web_1,
                   YuMincho,
                   'Hiragino Mincho ProN W3', 'Hiragino Mincho ProN',
                   'HG明朝E',
                   'ＭＳ Ｐ明朝', 'ＭＳ 明朝';
$font_serif_1    : $font_web_1,
                   $font_base_serif,
                   serif;

// Height
$site_header_height      : 72px;
$site_header_height_lite : 56px;
$wp_loginbar_height      : 32px;
$wp_loginbar_height_lite : 45px;

// Width
$container_width: (
	'main'      : 1080px,
	'larger_1'  : 1280px,
	'smaller_1' : 960px,
	'smaller_2' : 640px,
);
$container_width_main: map-get($container_width, 'main');

// size
$wp_gutenburg_base_space_size : 2em;
$mq_gutter_val                : 16px;

// String
$detect_primary_size : 'maxS';

// Other
$break_points: (
	'min1120' : 1120px,
	'minL'    : 992px,
	'minM'    : 768px,
	'minS'    : 576px,
	'max1120' : 1119.98px,
	'maxL'    : 991.98px, // タブレットサイズ >
	'maxM'    : 767.98px, // タブレットサイズ > スマホ横 >
	'maxS'    : 575.98px, // スマホサイズ
	'max1239min770': (
		'max' : 1238.98px,
		'min' : 770px
	),
);
